@media screen and (max-width: 375px) {

    header h2 {
        font-size: 1.3rem;
    }

    .fa-bars {
        font-size: 150%;
    }
    
    .placeForCvData {
        font-size: 0.9rem;
        margin: 0 1rem;
        }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:1.5rem;    
    }

    main img {
        height:18rem;
        width: 13rem;
        margin-top: 2rem;
    }



}