* {
    margin: 0;
    padding: 0;
}

body {
    padding:0;
    margin:0;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1 fr 1 fr;
    grid-template-rows: 1 fr 1 fr;
    grid-template-areas: 
    "header header"
    "main main";
}


header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    height: 5rem;
    align-items: flex-end;
    border-bottom: solid 0.1rem lightgrey;
}

header h2 {
    font-size: 2rem;
    margin-left: 3rem;
    color: rgb(0, 176, 176);
    font-weight: 300;
}

header h2:hover {
    cursor: pointer;
}

header nav ul {
    display: flex;
    margin-right: 2rem;
}

header nav ul li {
    list-style-type: none;
    margin: 0 1rem;
    font-size: 1.2rem;    
}

header nav ul li:hover {
    color: rgb(0, 176, 176);
    cursor: pointer;
}

header i {
    margin-right: 2rem;
}

main {
    grid-area: main;
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}

/* Den div där all data visas*/
.placeForCvData {
    font-size: 1.2rem;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    color: gray;
    max-width: 33rem;
    
}


main img {
    height: 30rem;
    width: 24rem;
    border-radius: 50%;
    display: flex;
}

/*Styling för välkomsttext*/ 
.greetingPhrase {
    text-align: center;
}

/*Styling för "Utbildningar"*/
.parentDivEducations {
    margin: 0 1rem;
    font-size: 1.1rem;

}

.educationInfo {
    margin-top: 0.5rem;
}

.educationDescriptionItems {
    margin: 0.5rem 0 1.5rem 0;
    list-style-type: circle;

}

/*Styling för "Arbetserfarenhet"*/
.parentDivEmployments {
    margin: 0 1rem;
    max-width: 40rem;
}

.employmentsInfo {
    margin-bottom: 1rem;
}

/*Styling för "Portfolio"*/
.portfolioTitel {
    margin-top: 1.5rem;
}

.portfolioLinks {
    text-decoration: none;
    color: rgb(0, 176, 176);
}

/*Styling för "Kontakt*/
.contactInfo {
    color: rgb(0, 176, 176);
}


@media screen and (min-width: 1025px) {
    header > .fa-bars{
        display: none ;
    }

    header nav {
        display: flex !important;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
    
        to{
            opacity: 1;
        }
    }
    
    /*Ger fade in effekt på alla sidor*/
    .transition {
        animation: 1s fadeIn;
    }

}
